<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <% for (i = 0 ; i < genres.length; i++) { %>
            <li><a href="/<%= genres[i].name%>"><%= genres[i].name %></a>
                <a href="/genres/<%= genres[i].id%>/update">edit</a>
            </li>
        <% } %>
    </ul>
    <button><a href="/createGenre">Create new genre</a></button>
    <button><a href="/createGame">Create new game</a></button>
</body>
</html>